%h1 Server Details

%p
  %strong Server ID:
  = @server.id


%h2 Grid Tiles
%table
  %thead
    %tr
      %th Row
      %th Column
  %tbody
    - @grid_tiles.each do |cell|
      %tr
        %td= cell.row
        %td= cell.column
